
.mobile-header{
    width:100%;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* padding-left: 5%;
    padding-right: 5%; */
  }
  .login-button-drawer{
    background: #ff9900;
    width: 110px;
    height: 38px;
    padding: 10px 28px;
    border-radius: 50px;
    border: none;
    margin-top: 20px;
  
  }
  .login-drawer{
    color: #FFFFFF;
    font-size: 18px;
  }
  .mobile-logo{
  width:130px;
  height:50px
  }
  .mobile-logo-drawer{
    width:30px;
    height:20px
    }
    .drawer-main{
      width:280px;
      height:100%;
      display:flex;
      flex-direction:column;
    }
  .image-close{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px
  }
  .drawer-name{
    margin-left: 10px;
    padding:2%
  }
  
  .drawer-name-link{
    font-size:22px;
    font-weight:500;
    margin-left:5px;
    text-decoration:none;
    color:black;
  }
  
  