
.third{
    display: flex;
   align-items: center;
  margin-top: 20px;
padding: 8px;
width: 260px;
height: 45px;
background: rgba(255, 255, 255, 0.2);
box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
border-radius: 90px;
margin-left: auto;
margin-right: auto;
cursor: pointer;
}

.create-new{
padding: 10px;
background: #06AAB0;
border-radius: 90px;
/* width: 100px; */
margin-right:5px;
}
.create-new-text{
  font-style: normal;
    font-weight: 500;
    font-size: 18px;
  color: #FFFFFF;
}
.choose{
  cursor: pointer;
}
.choose-template{
font-style: normal;
font-weight: 500;
font-size: 18px;
}

@media screen and (max-width: 600px) {
    .third{
        display: flex;
        justify-content: center;
       align-items: center;
      margin-top: 20px;
    margin-left: 9%;
    padding: 8px;
    width: 310px;
    height: 45px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
    border-radius: 90px;
    
    }
    
    .create-new{
    padding: 13px 30px;
    background: #06AAB0;
    border-radius: 90px;
    margin-right:15px;
    }
    .create-new-text{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
   
       color: #FFFFFF;
    }
    .choose-template{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    }
  }

  .card-design{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      /* flex-wrap: wrap; */
      margin-top: 40px;

  }

  .horizontal{
      display: flex;
      flex-direction: column;
  }
  .horizontal-card{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.horizontal-card-text{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  color: #06AAB0;
}
.vertical{
    display: flex;
    flex-direction: column;

}
.vertical-card{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 30px;
}
.vertical-card-text{
margin-top: 5px;
font-size: 20px;
font-weight: 500;
color: #06AAB0;
}
.div-proceed{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    /* padding-bottom: 50px; */
}
.proceed-button{
    background: #ff9900;
    width: 150px;
    height: 38px;
    padding: 10px;
    border-radius: 90px;
    border: none;
    cursor: pointer;

}
.proceed{
    color: #FFFFFF;
    font-size: 18px;
}
.div-proceed-mobile{
display: none;
}
@media screen and (max-width: 600px) {
 
  
    .card-design{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-left: 4%;
        margin-bottom: 80px;
        width: 90%;
        height:770px;
        background: #FFFFFF;
        box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.1);
        
    }
 
    .horizontal{
        display: flex;
        flex-direction: column;
     
    }
    
    .horizontal-card{
      display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .horizontal-card-text{
    /* margin-top: 5px; */
    font-size: 17px;
  }
  .vertical{
      display: flex;
      flex-direction: column;
      /* margin-top: 20px; */
  }
  .vertical-card{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 5px; */
  }
  .vertical-card-text{
  margin-top: 5px;
  font-size: 17px;
  }
  .div-proceed-mobile{
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    /* padding-bottom: 50px; */
}
.proceed-button-mobile{
    background: #ff9900;
    width: 150px;
    height: 38px;
    padding: 10px;
    border-radius: 90px;
    border: none;

}
.proceed-mobile{
    color: #FFFFFF;
    font-size: 18px;
}
.div-proceed{
 display: none;
}
}