/* FOR WEB  */
.back-div-1-vertical{
    width:5%;
    background-color: black;
    display: flex;
    flex-direction: column;
    
    /* height: 100vh; */
    min-height: 590px;
    white-space: nowrap;
    overflow: hidden;

}
.icon-box-1-vertical{
    display: flex;
    flex-direction: column;
   margin-top:20px;
   margin-left: auto;
   margin-right: auto;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

.icon-1{
    color:white;
    font-size:30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.icon-text-1-vertical{
    color:#ffffff;
    font-size:12px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.icon-text-2-vertical{
    color:#ff9900;
    font-size:12px; 
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
/* FOR RESPONSIVE */
.wd-toolbar-main{
    display: none;
    }
  
@media screen and (max-width: 600px) {
  
    .wd-toolbar-main{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 350;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: black;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 12%);
    overflow-y: scroll;
 white-space: nowrap;
    }
 
    .icon-box-responsive-main{
        display: flex;
        flex-direction: column;
       white-space: nowrap;
      margin-right: 20px;

    }
    .icon-responsive-main{
        margin-left: auto; 
       margin-right: auto;
        width:35px;
        height:35px;
        color:white;
    }
    .icon-text-responsive-1{
        color:white;
        font-size:20px; 
        margin-left: auto;
        margin-right: auto;
    }
    .icon-text-responsive-2{
        color:#ff9900;
        font-size:20px; 
        margin-left: auto;
        margin-right: auto;
    }
  }